<div class="offset-md-4 col-md-4 card">
    <%= render 'chats/modal' %>

    <div class="chat p-4 text-center">
        <div class="page-header border-bottom pb-2 p-3">
            <h3>Chatbot da <b>G3X</b> <i class="fa fa-volume-up"></i></h3>
        </div>

        <%= react_component 'player' %>
        
        <div class="mt-3 container mb-3">
            <%= image_tag 'gaules', class: 'w-100' %>
        </div>

        <%= button_tag '#', class: 'btn btn-success mb-3 button_modal' do %>
            Clique para Visualizar Dicas <i class="fa fa-info m-1"></i>
        <% end %>

        <%= render 'messages/form' %>
    </div>
</div>

<div class="mt-4 p-2 card text-center">
    <div class="youtube">
        <%= link_to 'https://www.youtube.com/watch?v=7RI1OI3Uznw&t=18s' do %>
            <%= image_tag 'capa', class: 'thumbnail' %> <br />
            <%= image_tag 'youtube', class: 'youtube_icon' %>
        <% end %>
    </div>
</div>

<script>
    $('.tips_modal').hide();
    $('.button_modal, .close').click(function() {
        $('.tips_modal').toggle(300);
    });
</script>